<!DOCTYPE html>
<html>
  <head>
    <title>Data</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>
    <h1>Data</h1>
    <h2>Accelerometer</h2>
    {{table data.accelerometer}}
    <h2>Gyroscope</h2>
    {{table data.gyroscope}}
  </body>
</html>
