<!DOCTYPE html>
<html>
  <head>
    <title>Data Analysis Report</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <style>.page{margin: 50px auto;width:750px}</style>
  </head>
  <body>
    <div class="page">
      <h1>Data Analysis Report</h1>
      <p><a href="data.html">Data</a></p>
      <p><a href="stat.html">Statistics</a></p>
    </div>
  </body>
</html>
